<html>
<head>
	<title></title>
</head>
<body>
<h1>Microsoft Emotion API</h1>
<form class='form' action='/post' method='post'>

    Happy: <input class='form-control' type='text' name='happy'> 
	Sad: <input class='form-control' type='text' name='sad'>
	Anxious: <input class='form-control' type='text' name='anxious'>
	Fear: <input class='form-control' type='text' name='fear'>   

    <input type="submit" value="Submit">

 </form>
 

 <p> This would send a POST request to /post. </p>
</body>

</html>