<html>
  <head>
  <script type = "text/javascript"> var a = document.getElementById('table, div, whatever node, id')
a.innerHTML = your_text </script>
    
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
    google.charts.load('current', {'packages':['line']});
      google.charts.setOnLoadCallback(drawChart);

    function drawChart() {

      var data = new google.visualization.DataTable();
      data.addColumn('number', 'Time');
      data.addColumn('number', 'Heartrate');
      


      data.addRows([
        [1,  83.0],
        [2,  82.0],
        [3,  82.0],
        [4,  80.0],
        [5,  81.0],
        [6,   82.0],
        [7,   80],
        [8,  78],
        [9,  80],
        [10, 81],
        [11,  79],
        [12,  78],
        [13,  79],
        [14,  80],
        [15,  78.0],
        [16,  80.0],
        [17,   81.0],
        [18,   79],
        [19,  78],
        [20,  80],
        [21, 81],
        [22,  78],
        [23,  77],
        [24,  77],
        [25,  76],
        [26,  79.0],
        [27,   78.0],
        [28,   79],
        [29,  78],
        [30,  80],
        [31, 79],
        [32,  78],
        [33,  77],
        [34,  77],
        [35,  76]
      ]);

      var options = {
        chart: {
          title: 'Daily heartrate',
          subtitle: 'in BPM'
        },
        width: 900,
        height: 500
      };

      var chart = new google.charts.Line(document.getElementById('linechart_material'));

      chart.draw(data, options);
    }
    </script>

  </head>
  <body>

    <div id="linechart_material" style="width: 100%; height: 500px;"></div>
    <div id="demo"><h2>{Content}</h2></div>

<button type="button" onclick="loadDoc()">Change Content with live data</button>

<script>
function loadDoc() {
  var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
      document.getElementById("demo").innerHTML = this.responseText;
    }
  };
  xhttp.open("GET", "test.txt", true);
  xhttp.send();
}
</script>
  </body>
</html>